/* Ana Kutu */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F1D2B;
    padding: 0 25px;
    height: 100%;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.brand h1 {
    font-size: 1.6rem;
    color: #ffffff;
    margin: 0;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-menu {
    display: flex;
    gap: 15px;
}

.nav-item {
    text-decoration: none;
    color: #E0E6ED;
    font-weight: 600;
    font-size: 0.95rem;
    padding: 10px 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

.nav-item:hover {
    color: #ffffff;
    background-color: #252836;
}

.nav-item.active {
    color: #EA7C69;
    background-color: #252836;
    box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.2);
    border: 1px solid rgba(234, 124, 105, 0.1);
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.notification-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #252836;
    border-radius: 12px;
    color: #E0E6ED;
    cursor: pointer;
    transition: all 0.2s ease;
}

.notification-btn:hover {
    background-color: #393C49;
    color: #ffffff;
    transform: translateY(-2px);
}

.notification-btn span {
    font-size: 1.3rem; 
}

.badge {
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: #EA7C69;
    color: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 700;
    border: 3px solid #1F1D2B; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #252836;
    padding: 6px 15px 6px 6px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}
.user-profile:hover {
    background-color: #393C49;
}
.avatar {
    width: 34px;
    height: 34px;
    background-color: #EA7C69;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
}
.username {
    font-size: 0.9rem;
    color: #ffffff;
    font-weight: 600;
}