.table-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #1F1D2B;
    align-content: flex-start; 
    min-height: 100vh;
    box-sizing: border-box;
}

.table-button {
    flex-grow: 1;
    flex-basis: calc(20% - 20px); 
    min-width: 180px; 
    height: 120px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    outline: none;
}

.table-empty {
    background-color: #252836;
    color: #ABBBC2;
    border: 1px solid #393C49;
}

.table-full {
    background-color: #1F1D2B;
    color: #EA7C69;
    border: 2px solid #EA7C69;
}

.table-button:hover {
    transform: translateY(-3px);
    background-color: #2d303e;
}