body, html {
    margin: 0;
    padding: 0;
    background-color: #1F1D2B;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-rows:100px 1fr;
    height: 100vh;
    background-color: #1F1D2B;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
}

.content {
    background-color: #252836; 
    border-top-left-radius: 24px; 
    border-bottom-left-radius: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    padding: 20px;
    box-shadow: inset 10px 0px 20px rgba(0, 0, 0, 0.1);
}

.content::-webkit-scrollbar {
    width: 5px;
}

.content::-webkit-scrollbar-thumb {
    background: #393C49;
    border-radius: 10px;
}